@tailwind base;
@tailwind components;

.react-select-container {
  @apply rounded border border-blue shadow-input;
}

.react-select-container.error {
  @apply border-red-error;
}

.react-select__control {
  @apply border-none !important;
}

.react-select__container {
  @apply w-full  !important;
}

.react-select__indicator {
  @apply [&>svg]:fill-main;
}

.react-select__placeholder {
  @apply text-ligh-gray !important;
}

.react-select__menu {
  @apply text-gray;
}

.react-select__single-value {
  @apply text-gray !important;
}

@tailwind utilities;
@import-normalize;

@layer utilities {
  .active-page {
    @apply after:absolute after:top-0 after:left-0 after:h-2 after:w-full after:bg-blue after:content-[''];
  }
}

body {
  font-family: 'Roboto', BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
